---
layout: default
title: Home
---
<div class="posts">
{% for post in site.posts %}
	<article>
		<span class="post-left-col">
			<img width="20%" height="30%"></img>
			<div>{{ post.date | date_to_string }}</div>
		</span>
		<span class="post-right-col">
			<h2>{{ post.title }}</h2>
			<div>{{ post.description }}</div>
			<div class="more">
				<ul class="breakcrumb">
					<li><span><a href="{{ post.url }}">View</a></span></li>
				{% for category in post.categories %}
					<li><span><a href="/{{ category }}">{{ category | camel }}</a></span></li>
				{% endfor %}
				</ul>
			</div>
		</span>
	</article>
{% endfor %}
</div>
