body {
    /*color: #333;*/
    color: #fff;
	font: 300 18px,sans-serif;
    min-height: 100%;
}

::-moz-selection {
       background-color: #f30;
       color: #555;
}

::selection {
       background-color: #f30;
       color: #555;
}

#main-nav {
	max-width: 80%;
	display: block;
	position: static;
	margin-left: auto;
	margin-right: auto;
}

#main-nav ul {
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#main-nav li {
	display: inline-block;
}

#main-nav li a {
    border-radius: 5px;
    font-weight: 900;
    /*font-size: 14px;*/
    padding: 0.5em 1em;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}

#main-nav li a:hover{
	background-color:#f30;
    color: #eee;
}

#main-nav li.current a {
    background-color: #f30;
    color: #eee;
}

a {
    color: #f55;
    text-decoration: none;
    /*background-color: transparent;*/
}

a:visited {
    color: #f85;
    text-decoration: none;
    /*background-color: transparent;*/
}

#main-body {
	margin-left: auto;
	margin-right: auto;
}

article {
    background-color: #f30;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

article .more {
    display: inline-block;
    height: 20px;
}

.breakcrumb{
    overflow: hidden;
    width: 100%;
    list-style-type: none;
}

.breakcrumb li{
    float: left;
    margin: 0 .3em 0 .3em;
}

/*
.breakcrumb a{
    background: #eee;
    color: #f30;
    padding: .7em 1em;
    float: left;
    text-decoration: none;
    position: relative;
    transition: all 0.5s ease 0s;
}

.breakcrumb a:hover{
    background: #f30;
    color: #fff;
}

.breakcrumb a::before{
    content: "";
    position: absolute;
    top: 50%; 
    margin-top: -1.5em;   
    border-width: 1.5em 0 1.5em 1em;
    border-style: solid;
    border-color: #eee #eee #eee transparent;
    left: -1em;
    transition: all 0.5s ease 0s;
}

.breakcrumb a:hover::before{
    border-color: #f30 #f30 #f30 transparent;
}

.breakcrumb a::after{
    content: "";
    position: absolute;
    top: 50%; 
    margin-top: -1.5em;   
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #eee;
    right: -1em;
    transition: all 0.5s ease 0s;
}

.breakcrumb a:hover::after{
    border-left-color: #f30;
}

.breakcrumb .current,
.breakcrumb .current:hover{
    font-weight: bold;
    background: none;
}

.breakcrumb .current::after,
.breakcrumb .current::before{
    content: normal;
}
*/


pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre code {
	width: 100%;
}

code {
    background-color: #2B2B2B;
    color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3) inset, 0px 1px 0px rgba(255, 255, 255, 0.1), 0px -1px 0px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-left: -5px;
    padding-left: 5px;
    padding-right: 5px;
}

.post-release {
    margin-left: -50px;
}
.post-release {
    display: inline-block;
    margin-left: -30px;
    padding: 6px 10px 8px 50px;
    border-radius: 0px 5px 5px 0px;
    position: relative;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px -1px 0px rgba(0, 0, 0, 0.3) inset;
    background-color: #f30;
    background-image: linear-gradient(to bottom, #f30 0%, #f31 100%);
}
.post-release, .post-meta {
    display: inline-block;
    vertical-align: middle;
}

.post-release:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    border-color: transparent #6F0D0D #6F0D0D transparent;
    border-style: solid;
    border-width: 5px;
    width: 0px;
    height: 0px;
}

.label {
    float: left;
    text-transform: uppercase;
    font-weight: 700;
}

#main-footer {
    color: #f30;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    bottom: 0;
}

#main-footer, .copyright {
    display: block;
}

#main-footer, #main-footer .copyright {
    margin-left: auto;
    margin-right: auto;
}

#main-footer.copyright {
    width: 80%;
}

@media only screen and (min-width: 800px) {

    body {
        font-size: 21px;
    }
    #main-body {
        max-width: 70%;
    }
    #main-body article {
        transition: all 0.25s ease 0s;
    }
   #main-nav li a { font-size: 14px; }

}

@media only screen and (max-width: 600px) {

    body {
        font-size: 18px;
    }
    #main-nav li a { font-size: 14px; }

}

@media only screen and (max-width: 320px) {

    body {
        font-size: 14px;
    }
    #main-nav li a { font-size: 12px; }

}