<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% if page.title %}{{ page.title }} - {% endif %}Cong Nguyen</title>
{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% else %}
<meta name="description" content="Some notes in life of Cong Nguyen">
{% endif %}
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
<nav id="main-nav">
	<ul>
		<li{% if page.title == "Home" %} class="current"{% endif %}><a href="/">Home</a></li>
		<li{% if page.title == "Linux" %} class="current"{% endif %}><a href="/linux">Linux</a></li>
		<li{% if page.title == "Martial Arts" %} class="current"{% endif %}><a href="/martial-arts">Martial Arts</a></li>
	</ul>
</nav>
<div id="main-body">
{{content}}
</div>
<footer id="main-footer">
	<div class="copyright">
		<span>Copyright @2015 by <a href="http://github.com/monday0rsunday">Cong Nguyen</a></span>
	</div>
</footer>
</body>
</html>
